POSTGRES__USER=test
POSTGRES__PASSWORD=test_password
POSTGRES__HOST=localhost
POSTGRES__PORT=5432

KAFKA__URL=

REDIS__URL=

RABBITMQ__URL=

SERVICES__AUTH_URL=
SERVICES__VIDEOS_URL=
SERVICES__LIKES_URL=
SERVICES__VIEWS_URL=

